apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
    name: prometheus
    namespace: monitoring
spec:
    releaseName: prometheus
    chart:
        spec:
            chart: kube-prometheus-stack
            sourceRef:
                kind: HelmRepository
                name: prometheus-repo
                namespace: monitoring
    interval: 50m

    valuesFrom:
      - kind: ConfigMap
        name: flux-kube-state-metrics-config
        valuesKey: kube-state-metrics-config.yaml

    values:
        prometheus:
            prometheusSpec:
                podMonitorSelectorNilUsesHelmValues: false
                serviceMonitorSelectorNilUsesHelmValues: false

                resources:
                    requests:
                        cpu: 200m
                        memory: 200Mi

        grafana:
            persistence:
                enabled: true
                type: sts
                storageClassName: openebs-zfspv
                accessModes:
                  - ReadWriteOnce
                size: 20Gi
                finalizers:
                  - kubernetes.io/pvc-protection

            ingress:
                enabled: true
                ingressClassName: traefik
                annotations:
                    traefik.ingress.kubernetes.io/router.entrypoints: websecure
                    traefik.ingress.kubernetes.io/router.tls: "true"
                hosts:
                  - srv.guibi.dev
                tls:
                  - hosts:
                      - srv.guibi.dev
                    secretName: tls-guibi.dev
